.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}
.footer__author {
}

.footer__date {
  /* moves to the right */
}
