.profile {
  display: flex;
  justify-content: flex-start;
  gap: 116px;
  align-items: flex-start;
  padding: 20px;
}

.Profile__sidebar {
  flex: 0 0 200px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start;
  gap: 16px;
}

.profile__edit-button,
.profile__logout-button {
  width: 100%;

  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.Profile__clothing-items {
  flex: 1;
}
