.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* separates left and right */
  padding: 32px 0 28px;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  font-family: Cabinet Grotesk;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 20px; /* space between ToggleSwitch, button, and user */
}

.header__add-clothes-btn {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}
.header__link {
  text-decoration: none;
  color: #000;
}
.header__button {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  background-color: transparent;
  /*padding: 8px 16px;*/
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header__button:hover {
  background-color: #000;
  color: #fff;
}

.header__button_logout {
  border-color: #ff4d4f;
  color: #ff4d4f;
}

.header__button_logout:hover {
  background-color: #ff4d4f;
  color: #fff;
}
