.sidebar {
  display: flex; /* horizontal layout */
  align-items: center; /* vertically center items */
  gap: 16px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #000;
  flex-shrink: 0;
}

.sidebar__username {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  margin: 0;
}
